---
const pathname = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Blue Collar Coder Videos{
        Astro.props.title ? `: ${Astro.props.title}` : ""
      }
    </title>
  </head>
  <body class="bg-[#f1e2f5] pb-8 max-w-5xl mx-auto">
    <header class="mb-3 bg-white rounded-b-xl drop-shadow-md">
      <nav class="mx-auto max-w-7xl px-6 lg:px-8" aria-label="Top">
        <div
          class="flex w-full items-center justify-between border-b border-indigo-500 py-6 lg:border-none"
        >
          <div class="flex items-center">
            <a href="/">
              <span class="sr-only">Blue Collar Coder</span>
            </a>
            <div class="ml-10 hidden space-x-8 lg:block">
              <a
                href="/"
                class={`text-base font-medium text-main ${
                  pathname === "/" ? "border-b-4 border-b-[#2A325E]" : ""
                } hover:border-b-4 hover:border-b-[#2A325E30] p-4 rounded-md`}
                >Home</a
              >
              <a
                href="/search"
                class={`text-base font-medium text-main ${
                  pathname === "/" ? "" : "border-b-4 border-b-[#2A325E]"
                } hover:border-b-4 hover:border-b-[#2A325E30] p-4 rounded-md`}
                >Search</a
              >
            </div>
          </div>
        </div>
        <div class="flex flex-wrap justify-center gap-x-6 py-4 lg:hidden">
          <a
            href="/"
            class={`text-base font-medium text-main ${
              pathname === "/" ? "border-b-4 border-b-[#2A325E]" : ""
            } hover:border-b-4 hover:border-b-[#2A325E30] p-4 rounded-md`}
            >Home</a
          >
          <a
            href="/search"
            class={`text-base font-medium text-main ${
              pathname === "/" ? "" : "border-b-4 border-b-[#2A325E]"
            } hover:border-b-4 hover:border-b-[#2A325E30] p-4 rounded-md`}
            >Search</a
          >
        </div>
      </nav>
    </header>

    <slot />
  </body>
</html>
